@import 'yoga';
@import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$bright-white: #ffffff;
$gutter: 1rem;
$dark-blue: #2c3e50;

* {
  border: 1px solid red;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  margin: 0;
}

.heading-container {
  width: 100%;
  background: $dark-blue;
}

.heading {
  display: flex;
  align-items: center;
  width: 55rem;
  margin: auto;
  background: $dark-blue;
  color: $bright-white;
}

.brand {
  font-family: 'Special Elite', sans-serif;
  // margin-top: 0;
  // padding: 1rem;
}

.main-content__container {
  display: flex;
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 55rem;
  margin: auto;
  margin-top: $gutter;
  overflow: auto;
}

.spotlight {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
}

.spotlight-info {

}

.img-container {
  width: 100%;
}


.character {
  width: 100%;
}

.right-side {
  // display: flex;
  // flex-direction: column;
  flex-grow: 1;
  margin-left: $gutter;
}

.characters-container {
  flex-grow: 1;
}


.characters-title {
  font-family: 'Special Elite', sans-serif;
  margin: 0;
}

.characters-list {
  display: flex;
  justify-content: space-between;
}

.comics-container {
}

.authors {
  font-family: 'Special Elite', sans-serif;
}
